*{
  margin: 0px;
  /* overflow-x: hidden; */
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('./Construction\ Page\ for\ Website.png');  
}

.container{
  margin-top: 40px;
  width: 50%;
  height: 50%;
  background-color: #270641;
  border-radius: 25px;
  color: #FFB8BC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.container p{
  margin: 3px;
  text-align: center;
}



@media only screen and (max-width:930px) {
  .container{
    width:85%;
    height: 400px;
    padding: 5px;
    /* height:400px; */
  }

  .svg{
    height: auto;
    width: 250px;
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    background-image: url('./Construction\ Page\ for\ Website.png');  
  }
}